[Desktop Entry]
Version=1.0
Type=Application
Name=Run with Administrator
Comment=Run Windows Executable with Administrator Rights
Exec=/usr/local/bin/wine-admin
Icon=/usr/share/icons/virgox/exe.svg
Terminal=false
StartupNotify=true
Categories=System;
